.avatar {
  height: 100px;
  width: 100px;
}

.name {
  font-size: 20px;
  color: black;
}

.statusIsOnline,
.statusIsOffline {
  font-size: 20px;
}

.statusIsOnline {
  color: teal;
}

.statusIsOffline {
  color: maroon;
}
